Judy-*

# WTF, why does CPANTS write this file?
Debian_CPANTS.txt

# Releases
Judy-HS-*

# Compilation artifacts
*.bs
*.c
*.o

# EU::MM
blib
pm_to_blib
Makefile
Makefile.old

# Emacs
.#*
*#
*~

# Distribution artifacts
MANIFEST.bak
META.yml


# bin/release
Changes.bak